
*{
    font-family: "Roboto Condensed";
}
body{
    color:rgb(236,240,241);
    background-color: #34495e; //#16A085;
}
/*Pagina de Perfil*/
#cabezaP{
    margin:2em;
    margin-bottom: 0;
    padding: 1em;
    background-color: #141414;
    opacity: 0.8;
    
}
#datosP{
    margin: 2em;
    margin-top: 0;
    padding: 1em;
    background-color: #141414;
    opacity: 0.8;
}
#userPic{

    width: 120px;
    height: 120px;  
    border: 1px #019875 solid;
    background-image: url(../assets/icons/ubi_face.png);
    background-size: cover;
}
/*boton*/
#muestrame{
    cursor: pointer;
    position: fixed;
    top:0.7em;
    left: 2em;
    width: 32px;
    height:32px;
    background: url(../assets/icons/1429073263_menu-alt-32.png);
    z-index: 22;
}
/*Estilo pagina principal*/

#home{
    display: table;
    width: 100%;
    height: 100%;
}
#homeLeft{
    display: table-cell;
    width: 33%;
    height: 100%;
    background-color: #AF622A;
    margin-left: 0.5%;
    opacity: 0.3;
    position:relative;
}
#homeCenter{
    display: table-cell;
    width: 33%;
    height: 100%;
    background-color: #1A6D64;
    opacity: 0.3;
    position:relative;
}
#homeRight{
    display: table-cell;
    width: 33%;
    height: 100%;
    background-color: #AF812A;
    margin-right: 0.5%;
    opacity: 0.3;
     position:relative;
}
/* Principal categorias*/
#home h1{
    font-size: 2em;
    text-align: center;
}
.homeContenido{
    border: solid 1px rgb(236,240,241);
}
/*ESTILOS DEL MENU*/
#hmenu{
	position: fixed;
	width: 100%;
	height: 5%;
	z-index: 19;
	background-color: rgb(236,240,241);
	border: none;
}
iframe{
    position: fixed;
    top: 3.5em;
    width: 100%;
    height: 92.8%;
    border: none;
    border-style: none;
    
}
nav{
    top:0;
    box-sizing: border-box;
    background: rgb(236,240,241);
    left:-25em;
    height: 100%;
    z-index: 20;
    transition: all .8s;
    position: fixed;
}
#buscar{
	margin: 0.5em;
}
nav.mostrar{
    left:0;
}
ul.menu{
    list-style: none;
    line-height: 60px;
    padding-left: 0;
    padding-top: 5em;
    width: 18em;
    height: 100%;   
}
.menu a{
    color: rgb(0,0,0);
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 32px;
    background: url(../assets/icons/icon_sideMenu.png) no-repeat left top;
    padding-left: 60px;
    margin-bottom: 16px;
}
menu a:hover{
    margin-left: 1.5em;    
    transition: all .8s;

}

.menu  li:nth-child(2) a{
    background-position: 0 -32px;
}
.menu  li:nth-child(3) a{
    background-position: 0 -64px;
}

.menu  li:nth-child(5) a{
    background-position: 0 -96px;
}
.menu #li:nth-child(7) a{
    background-position: 0 -128px;
}
.menu li:nth-child(9) a{
    background-position: 0 -160px;
}
.menu  li:nth-child(10) a{
    background-position: 0 -192px;
}
.menu section li{
    background-image: none;
}
.menu2  li a{
    background-image: none;
    color: #ECF0F1;
    height: 1em;
}
.menu li{
    box-shadow: 0 0  whitesmoke inset;
    margin-bottom: 5px;
    transition: all .8s ease-out;
    cursor: pointer;
    display: table;
    width: 18em;
    height: 12px;
}
a.sublist{
    background-image: none;
    text-decoration: none;
    cursor: pointer;
    color: #ECF0F1;
    height: 3px;
}
section ul{
    background-color: #2C3E50;
}
section ul li{
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}
.boton{
    background-color: #141414;
    
    transition: 0.5s all;
}
.boton:hover{
    color:rgb(63, 195, 128);
}
.boton span{
    color: rgb(236,240,241);
}
.boton:hover span{
    color: #AD1A1A;
}   
section[name="onMenu"]{
    display: none;
}
a.link:visited{
   color: red;
}
a.link:link{
    color: whitesmoke;
}
a.link:hover{
    color: #269abc
}
label{
    font-weight: bold;
    color: whitesmoke;
    margin: 0.3em;
}
a{
    cursor: pointer;
}
.labelB{
    font-weight: bold;
    color: #141414;
    margin: 0.3em;
}
.menu li:hover{
    box-shadow: 18em 0 #019875 inset;     
}
/*Pagina de registro*/
#unidadA{
    color: #141414;
    height: 0.1em;
}
/*cositas mis_preguntas.html/mis_respuestas*/
#quest{
    color: black;
}
#titulo_res{
    font-size: 28px;
    color:#E76C6C; 
}
#titulo_pre{
    font-size: 28px;
}
#quest_date{
    font-style: italic;
    color: #67809F;
}
div.panel-footer{
    padding: 0px;
}
div.panel-body{
    padding: 2px;
}
.mostrarSeccion{
    display: none;
}
#quest_panel{
    margin-left: 12%;
    margin-right:12%;
    background-color: #67809F;
    padding: 1em;
}
#answ_panel{
    margin-left: 12%;
    margin-right:12%;
    background-color: #3FC380;
    padding: 1em;
}
section h4{
    color: #141414;
}
#respuestas_badge{
    cursor: pointer;
}
#respuestas{
    display: none;
}
div.page-header{
    color: black;
}
/*termina cositas mis_respuestas/mis_preguntas*/
/*Zigma*/
.zigma{
    width: 500px;
    height: 500px;
    position: fixed;
    top: 8em;
    left: 29em;
    z-index: 30;
}
/*Ãreas  de texto*/
textarea{
    width: 18em;
    color: #95A5A6;
    resize: none;
}
/*Cuerpo configuracion*/
#cabezaC{
    margin:2em;
    margin-bottom: 0;
    padding: 1em;
    background-color: rgb(245, 171, 53);
    opacity: 0.9;
}
#datosC{
    margin: 2em;
    margin-top: 0;
    padding: 1em;
    background-color: rgb(245, 171, 53);
    opacity: 0.9;
}
#CancelarC{
    background-color:#CF000F;
    border-color: #CF000F;
}
#CancelarC:hover{
    background-color:#96281B;
    border-color: #96281B;
}
#CaImagenC{
    background-color: #3498DB;
    border-color: #3498DB;
}
#CaImagenC:hover{
    background-color:#446CB3 ;
    border-color: #446CB3;
}
#NuevaCon{
    width: 18em;
    color: #95A5A6;
    margin: 2em;
    margin-top: 0;
}
#ConfiCon{
    width: 18em;
    color: #95A5A6;
    margin: 2em;
    margin-top: 0;
}
/*hacer_pregunta-html*/
label.subtitle{
    font-size: 18px;
}
#preg_algo_container{
    background-color: #F4B350;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
#p_preg_alg{
    font-size: 24px;
    margin-left: 8%;
    margin-right: 18%;
}

/*finalConfiguracion*/
/*Menu horizontal*/
#buscar{
    position: absolute;
    top: .1em;
    right: 4em;
    width: 13em;
    max-width: 13em;
}
#btn_buscar{
    position: absolute;
    top: .55em;
    right: 0.7em;
}
/* estilos todo-articulos*/
#todo_art_body{
    margin: 5%;
    
}
#todo_{
    color: #ECF0F1;
   
}
#filtroArt{
    z-index: 50;
    display: inline;
    padding: 5px;
    width: 18em;
    
}
#filtroArt ul{
    display: inline;
    position: absolute;
    background-color: #141414;
    list-style: none;
    width: 18em;
    border-radius: 3px;
    z-index: 50;
    
}
/*ESTILO DE TABLAS*/
.tablaChida{
    background-color: #C22424;

}

/*ESTILO DE SIMULADOREXAMENES*/
.textoRadio{
    margin-right: 2em;
}
.fisicaTest{
    margin: 2em;
    padding: 1em;
    background-color: #019875;
    border: 1px rgb(236,240,241) ridge;
}
.respuestasFisicaTest{
    background-color: #006541;
    padding-top: 5px;
}
.respuestasFisicaTest label:hover{
    border-bottom: #F18B06 5px solid;
}
.respuestasFisicaTest label{
    border-bottom: #006541 5px solid;
    transition: all 0.0s;
}

/*NOTIFICACIONES*/
#menuNo li a{
    background:#ECF0F1 ;
    text-decoration: none;
    color: #141414;
    display: block;
    width: 7em;
    font-family:'Roboto Condensed', sans-serif ;
    width: 100%;
    height: 100%;
    margin-top: 1.2em;
}
#menuNo li{
    list-style: none;
}
#menuNo li ul li a{
     margin:0;
}
#menuNo > li{
    float:right;
    margin-right: 18em;
}
#menuNo li a:hover{
    background: #1E824C;
    color:#ECF0F1;
}
#menuNo li ul{
    display: none;
    position:absolute;
    min-width: 20em;
}
#menuNo li:hover > ul{
    display: block;
}
/*fin Notificaciones*/


