
*{
    font-family: "Roboto Condensed";
    box-sizing: border-box;
}
body{
    color:rgb(236,240,241);
    background-color: #141414; //#16A085;*/
    
}
a{
    color: whitesmoke
}
/*Pagina de Perfil*/
#cabezaP{
    margin:3em;
    margin-bottom: 0em;
    padding: 1em;
    background-color: #141414;
    opacity: 0.8;
    display: table-cell;
    text-align: center;
}
//zigma

#datosP{
    margin: 2em;
    margin-top: 0;
    padding: 1em;
    background-color: #141414;
    opacity: 0.8;
}
#userPic{
   
    width: 120px;
    height: 120px;  
    text-align: left;
    left: 2em;
    display: block;
    
    background-size: cover;
}
/*boton*/
/*#muestrame{
    cursor: pointer;
    position: fixed;
    top:0.7em;
    left: 2em;
    width: 32px;
    height:32px;
   // background: url(../assets/icons/menu.png);
    z-index: 22;
}*/
/*Estilo pagina principal*/


/* Principal categorias*/
#home h1{
    font-size: 2em;
    text-align: center;
}
.home_box{
    width: 30%;
    height: 100%;
    opacity: 0.8;
    margin-left: 3em;
    display: table;
    float: left;
    background-color: #96281B;
}
.home_subBox{
    opacity: 1;
    margin-bottom: 2px;
    padding: 1px;
}
.bg_left{
    background-color: #141414;
}
.bg_center{
    background-color: #3A539B;
}
.bg_right{
    background-color: #ECF0F1;
}
/*ESTILOS DEL MENU*/
#hmenu{
    position: fixed;
    width: 100%;
    height: 53px;
    z-index: 19;
    background-color: #141414;
    border: none;
    top: 0;
    display: table-cell;
}
.keys{
    display: none;
    background-color: #141414;
    border: none;
}
.keys li{
    margin: 3px;
}
.log{
    
    position: absolute;
    left: 5.3em;
    top: .5em;
    
}
iframe{
    position: fixed;
    top: 3.5em;
    width: 100%;
    height: 92.8%;
    border: none;
    border-style: none;

}
nav{
    top:0;
    box-sizing: border-box;
    background-color: #141414;
    left:-25em;
    height: 100%;
    z-index: 20;
    transition: all .8s;
    position: fixed;
}
#buscar{
    margin: 0.5em;
}
nav.mostrar{
    left:0;
}
ul.menu{
    list-style: none;
    line-height: 60px;
    padding-left: 0;
    padding-top: 5em;
    width: 18em;
    height: 100%;   
}
.menu a{
    color: #ECF0F1;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 32px;
   // background: url(../assets/icons/icon_sideMenu.png) no-repeat left top;
    padding-left: 60px;
    margin-bottom: 16px;
}
menu a:hover{
    margin-left: 1.5em;    
    transition: all .8s;
    
}
ul.menu section ul li a{
    background-color: #141414;
    border: 2px solid #22A7F0
}
/*
.menu  li:nth-child(2) a{
    background-position: 0 -32px;
}
.menu  li:nth-child(3) a{
    background-position: 0 -64px;
}

.menu  li:nth-child(5) a{
    background-position: 0 -96px;
}
.menu #li:nth-child(7) a{
    background-position: 0 -128px;
}
.menu li:nth-child(9) a{
    background-position: 0 -160px;
}
.menu  li:nth-child(10) a{
    background-position: 0 -192px;
}
.menu section li{
    background-image: none;
}*/
.menu2  li a{
    background-image: none;
    color: #ECF0F1;
    height: 1em;
    
}
.menu li{
    box-shadow: 0 0  #ecf0f1 inset;
    margin-bottom: 5px;
    transition: all .8s ease-out;
    cursor: pointer;
    display: table;
    width: 18em;
    height: 12px;
    
}
a.subbox{
    background-image: none;
    text-decoration: none;
    cursor: pointer;
    color: #ECF0F1;
    height: 3px;
}

section ul li{
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}
.boton{
    background-color: #141414;

    transition: 0.5s all;
}
.boton:hover{
    color:rgb(63, 195, 128);
}
.boton span{
    color: rgb(236,240,241);
}
.boton:hover span{
    color: #AD1A1A;
}   
section[name="onMenu"]{
    display: none;
}
a.link:visited{
    color: red;
}
a.link:link{
    color: whitesmoke;
}
a.link:hover{
    color: #269abc
}
label{
    font-weight: bold;
    color: whitesmoke;
    margin: 0.3em;
}
a{
    cursor: pointer;
}
.labelB{
    font-weight: bold;
    color: #141414;
    margin: 0.3em;
}
.menu li:hover{
    box-shadow: 0 0 #34495E inset;     
}
/*Pagina de registro*/
#unidadA{
    color: #141414;
    height: 0.1em;
}
/*cositas mis_preguntas.html/mis_respuestas*/
#quest{
    color: black;
}
#titulo_res{
    font-size: 28px;
    color:#E76C6C; 
}
#titulo_pre{
    font-size: 28px;
}
#quest_date{
    font-style: italic;
    color: #67809F;
}
div.panel-footer{
    padding: 0px;
}
div.panel-body{
    padding: 2px;
}
.mostrarSeccion{
    display: none;
}
#quest_panel{
    margin-left: 12%;
    margin-right:12%;
    background-color: #67809F;
    padding: 1em;
}
#answ_panel{
    margin-left: 12%;
    margin-right:12%;
    background-color: #3FC380;
    padding: 1em;
}
section h4{
    color: #141414;
}
#respuestas_badge{
    cursor: pointer;
}
#respuestas{
    display: none;
}
div.page-header{
    color: black;
}
/*termina cositas mis_respuestas/mis_preguntas*/
/*Zigma*/
.zigma{
    width: 36px;
    height: 36px;
    position: absolute;
    top: .5em;
    left: 2em;
    z-index: 30;
    cursor: pointer;
}
/*Ãreas  de texto*/
textarea{
    width: 18em;
    color: #95A5A6;
    resize: none;
}
/*Cuerpo configuracion*/
#cabezaC{
    margin:2em;
    margin-bottom: 0;
    padding: 1em;
    background-color: rgb(245, 171, 53);
    opacity: 0.9;
}
#datosC{
    text-align: left;
    margin: 2em;
    margin-top: 0;
    padding: 1em;
    border-right: rgb(245, 171, 53) solid 10px;
    opacity: 0.9;
}
#CancelarC{
    background-color:#CF000F;
    border-color: #CF000F;
}
#CancelarC:hover{
    background-color:#96281B;
    border-color: #96281B;
}
.formConfirm{
    float: right;
    left: 42em;
    
}
#CaImagenC{
    
    background-color: #3498DB;
    border-color: #3498DB;
    top: 120px; 
    position: relative;
}

#CaImagenC:hover{
    background-color:#446CB3 ;
    border-color: #446CB3;
}
#NuevaCon{
    width: 18em;
    color: #95A5A6;
    margin: 2em;
    margin-top: 0;
}
#ConfiCon{
    width: 18em;
    color: #95A5A6;
    margin: 2em;
    margin-top: 0;
}
/*hacer_pregunta-html*/
label.subtitle{
    font-size: 18px;
}
#preg_algo_container{
    background-color: #141414;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
#p_preg_alg{
    font-size: 24px;
    margin-left: 8%;
    margin-right: 18%;
}

/*finalConfiguracion*/
/*Menu horizontal*/
#buscar{
    position: absolute;
    top: .1em;
    right: 4em;
    width: 13em;
    max-width: 13em;
}
#btn_buscar{
    position: absolute;
    top: .55em;
    right: 0.7em;
}
/* estilos todo-articulos*/
.todo{
    margin: 5%;

}
.todo_tit{
    color: #ECF0F1;

}
#filtroArt{
    z-index: 50;
    display: inline;
    padding: 5px;
    width: 18em;

}
#filtroArt ul{
    display: inline;
    position: absolute;
    background-color: #141414;
    list-style: none;
    width: 18em;
    border-radius: 3px;
    z-index: 50;

}
/*ESTILO DE TABLAS*/
.tablaChida{
    background-color: #C22424;

}

/*ESTILO DE SIMULADOREXAMENES*/
.textoRadio{
    margin-right: 2em;
}
.fisicaTest{
    margin: 2em;
    padding: 1em;
    background-color: #019875;
    border: 1px rgb(236,240,241) ridge;
}
.respuestasFisicaTest{
    background-color: #006541;
    padding-top: 5px;
}
.respuestasFisicaTest label:hover{
    border-bottom: #F18B06 5px solid;
}
.respuestasFisicaTest label{
    border-bottom: #006541 5px solid;
    transition: all 0.0s;
}

/*NOTIFICACIONES*/
#menuNo li a{
    background:#ECF0F1 ;
    text-decoration: none;
    color: #141414;
    display: block;
    width: 7em;
    font-family:'Roboto Condensed', sans-serif ;
    width: 100%;
    height: 100%;
    margin-top: 1.2em;
}
#menuNo li{
    list-style: none;
    position: relative;
    top: -2.3em;
}
#menuNo li ul li a{
    margin:0;
}
#menuNo > li{
    float:right;
    margin-right: 18em;
}
#menuNo li a:hover{
    background: #1E824C;
    color:#ECF0F1;
}
#menuNo li ul{
    display: none;
    position:absolute;
    min-width: 20em;

}

.cajaNo{
    background-color: #141414;
    position: relative;
    display: inline;
    margin-top: 0.7em;
    height: auto;
    padding-top: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
}
.altaPrioridad{
    border-right: 3px solid;
    border-right-color: #AD1A1A;
    
}
.mediaPrioridad{
    border-right: 3px solid;
    border-right-color: #F18B06;
   
}
.bajaPrioridad{
    border-right: 3px solid;
    border-right-color:  #ECF0F1;
    
}
/*fin Notificaciones*/

/*todo_preguntas*/
div.slim_panHead{
    padding: 1px;
}
/* ESTILO DE NUEVOEXAMEN.HTML*/
.areaTexto{
    width: 24.4em;
    margin: 3px;
}
.formularioNuevoExa{
    margin:5px;
    padding: 5px;
}
/*Estilo de formulario de inicio de sesion*/
.formularioLogin{
    opacity: .8;
    background-color: #141414;
    position: relative;
    top: 5em;
    width: 100%;
    display: table;
}
.bordeR{
    border-right: 10px solid;
}
.bRed{
    border-right-color: #AD1A1A;
}
.bGreen{
    border-right-color: #1E824C;
}
.bBlue{
    border-right-color: #22A7F0;
}
/*Fin estilos nuevoExamen*/
.bg{
    display: inline-block;
   
    height: 100%;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-position: center top;
}
.bghome{
    background-image: url(../assets/backgr/bg_home.jpg);
    background-size: cover;
    background-repeat: round;
}
.bglogin{
    background-image: url(../assets/backgr/p9-min.png);
    background-size: cover;
    background-repeat: round;
}
.bgart{
    background-image: url(../assets/backgr/p4.png);
    background-size: cover;
    background-repeat: round;
}
.bgregist{
    background-image: url(../assets/backgr/p14.png);
    background-size: cover;
    background-repeat: round;
}
.cont{
    top: 10px;
    right: 0;
    left: 0;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0 4%;
    z-index: 2;
    position: fixed;
    display: block;
    color: white;
}
.contText{
    background: rgba(34,34,34,0.75);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
/*Footer*/
footer{
    background: #141414;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    
}
footer a{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ECF0F1;
    margin-left: 1em;
    margin-right: 1em;
   font-size: 1.5em;
}
footer a:hover{
    color:#3FC380;
}
/*Fin footer*/
/*Admin_SPS*/
.tablaAdmin{
    width: 100%;
    height: 1em;
    margin-left: 2.5em;
    float: left;
}  
.tablaAdmin tr th:first-child{
    border-left:  5px  darkgreen solid;
}
.tablaAdmin tr th{
    border-bottom:  3px  darkgreen solid;
}
.tablaAdmin tr td{
    padding: 5px;
    opacity: .7;
    cursor: pointer;
    font-size: 18px;
    transition: all .8s;
}

.tablaAdmin tr:hover td{
    opacity: 1;
}
.comentario{
    color: #ffd740;
    border-left: #ffd740 solid 5px;
}
.nuevousuario{
    color: #448aff;
    border-left: #448aff solid 5px;
}
.feedback{
    color:  #7c4dff;
    border-left: #7c4dff solid 5px;
}
.articulo{
    color: #64ffda;
    border-left: #64ffda solid 5px;
}
.pregunta{
    color: #ffab40;
    border-left: #ffab40 solid 5px;
}
.respuesta{
    color: #b2ff59;
    border-left: #b2ff59 solid 5px;
}
.aviso{
    color: #ff5252;
    border-left: #ff5252 solid 5px;
}
/*Fin reporte*/

/*Feedback admin*/

.cajitaFeed{
    background-color:  #ECF0F1;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 3px;
    opacity: .7;
    transition: all .8s;
}
.cajitaFeed:hover{
    opacity: 1;
}
.cajitaFeed label{
    color: #141414;
}
.feedLetra{
    font-size: 20px;
}
/*fin feedback admin*/
/* Articulos.jsp-inicio*/
.iframeA{
    color: white;
    margin-left: 2em;
    padding: 1em;
    border-radius: 5px;
    background-color: #ECF0F1;
    width: 96%;
    height:  min-content;
    position: relative;
}
.tituloArt{
    
 
    position: relative;
    left: .9em;
    top: .9em;
    border-radius: 5px;
    
    width: 96%;
    height: auto;
}

/*Fin articulos.jsp*/
/*Estilo examenes*/
.examenesContent{
    background-color: #ECF0F1;
    color: #141414;
    width: 90%;
    height: 100%;
    font-size: 18px;
    min-height: 5em;
    padding: 1em;
}
.examenesContent ul li{
    color: #141414;
    background: #ECF0F1;
}
.subirExamen{
    background-color: #F4B350;
    min-height: 28px;
    height: 100%;
    width: 100%;
    padding: 1em;
    font-size: 24px;
}
//fin subir examen
// boton subir foto
.subirFoto{
    opacity: 0;
    z-index: 25;
    text-decoration: none;  
    background: none;
    font-size: 0px;
}
//fin subir foto
//comons
.integrarCont{
    width: 100%;
    height: 95%;
    float: left;
    display: table-cell;
}
.integrarMenu{
     width: 100%;
    height: 55px;
    float: left;
    display: table-cell;
}
.avisos{
    width: 47%;
    height: 100%;
  }
  .medio{
    width:6%;
  }
  .cuerpo{
    width: 47%;
    height: 100%;
    overflow: hidden;
  }
  .wrap_feed{
    width: 100%;
    height: 80%;
  }
  .contenedorfeeds{
    position: fixed;
    width: 85%;
    height: 100%;
  }
  .lista{
    overflow-y: scroll;
    max-height: 90%;
  }
  .bodyfeed{
    background-color: yellow;
    min-height: 90%;
    color: #141414;
    font-weight: 400;
    font-size: 1.5em;
    padding: 1em;
  }